.c-btn {
    cursor:pointer;

    &--accent{
        width: 150px;
        display:block;
        font-family: "Hammersmith One";
        font-weight: $font-weight-4;
        color: $accent;
        background: transparent;
        outline: 0;
        font-size: $font-size-base;
        text-transform: uppercase;
        padding: $grid-base * 1.3;
        border: 1px solid $accent;
        text-align: center;
        margin: 0 auto;
    }

}