.t-site-portfolio{
    padding-top: $grid-base * 7;
    padding-bottom: $grid-base * 8.5;
    overflow: hidden;

    &__title {
        padding:0;
    }

    &__description-box{
        text-align: right;
    }

    &__image-box {
        margin-top: $grid-base * 7;   
    }
    
    &__image {
        padding:0;
        height:$grid-base * 26.7;
        position:relative;
        background-size: cover !important;   

        &--1{
            background: url(../images/front/portfolio/image1.jpeg) center center no-repeat;
        }
        &--2{
            background: url(../images/front/portfolio/image1.jpeg) center center no-repeat;
        }
        &--3{
            background: url(../images/front/portfolio/image1.jpeg) center center no-repeat;
        }
        &--4{
            background: url(../images/front/portfolio/image1.jpeg) center center no-repeat;
        }
        &--5{
            background: url(../images/front/portfolio/image1.jpeg) center center no-repeat;
        }
        &--6{
            background: url(../images/front/portfolio/image1.jpeg) center center no-repeat;
        }
        &--7{
            background: url(../images/front/portfolio/image1.jpeg) center center no-repeat;
        }
        &--8{
            background: url(../images/front/portfolio/image1.jpeg) center center no-repeat;
        }
        &--9{
            background: url(../images/front/portfolio/image1.jpeg) center center no-repeat;
        }
        &--10{
            background: url(../images/front/portfolio/image1.jpeg) center center no-repeat;
        }
        &--11{
            background: url(../images/front/portfolio/image1.jpeg) center center no-repeat;
        }
        &--12{
            background: url(../images/front/portfolio/image1.jpeg) center center no-repeat;
        }

        &--active {
            position:absolute;
            width:100%;
            height:100%;
            opacity:0.9;
            display:flex;
            align-items:center;
            justify-content:center;
            flex-direction:column;
            color: $white;
        }
    }

    &__btn {
        margin-top: $grid-base * 7;
    }
}